body{
	font-size: 14pt;
	white-space: nowrap;
	padding-right: 25px;
	padding-left: 25px;
	text-align: left;
	user-select: none;
	font-family: sans-serif;
	width: 360px;
	margin: auto;
	box-sizing: border-box;
}
h3{
	padding-right: 50px;
	padding-left: 50px;
	text-align: center;
}
.cursor{
	cursor: pointer;
}
label{
	margin-top: 0.5em;
	display: flex;
	align-items: center;
	flex-wrap: wrap;
	width: 100%;
	line-height: 1;
}
label input[type="checkbox"],
label input[type="radio"] {
	transform: scale(0.9);
	margin-right: 5px !important;
}
select {
	border-radius: 5px;
	padding: 2px;
}
.sub{
	font-size: 11pt;
	margin-left: 8px;
	transition: 0.2s;
}
.sub-disabled{
	filter: grayscale(1);
}
.sub input[type="checkbox"],
.sub input[type="radio"] {
	transform: scale(0.76);
	margin-left: 3px;
}
.sub::before{
	content: "";
	display: block;
	height: 8px;
	width: 15px;
	border: solid black;
	border-width: 0 0 3px 3px;
	margin-top: -8px;
}

#save {
	display: block;
	margin-left: auto;
	margin-right: auto;
	border: 5em;
	cursor: pointer;
	outline: none;
	font-size: 18px;
	transform: translate(0);
	background-image: linear-gradient(45deg, #4568dc, #b06ab3);
	padding: 0.7em 2em;
	border-radius: 65px;
	box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.5);
	transition: box-shadow 0.25s, font-size 0.3s ease-out;
	color: black;
}
#save:after {
	content: "";
	border-radius: 18px;
	position: absolute;
	margin: 4px;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	z-index: -1;
	background: white;
}
#save:hover {
	background-image: linear-gradient(-45deg, #4568dc, #b06ab3);
	box-shadow: 0 12px 24px rgba(128, 128, 128, 0.1) !important;
}
.disabled{
	font-size: 0px !important;
}
.other-links{
	display: flex;
	justify-content: space-between;
	align-items: center;
}
#href_text{
	color: blue;
	cursor: alias;
	vertical-align: top;
	font-size: 13pt;
	display:flex;
}
#href_text svg{
	transform: scale(0.95);
	margin-right: 6px;
}

.dark{
	background-color: #181818;
	color: white;
}
.dark svg{
	fill: white;
}
.dark #href_text{
	color: #00C0FF;
}
.dark #save{
	box-shadow: 1px 1px 10px rgba(255, 255, 255, 0.5);
	color: white;
}
.dark #save:after {
	background: #181818;
}
.dark .sub::before{
	border-color: white;
}
.dark input,
.dark select {
	color-scheme: dark;
}

#filename_structure{
	height: 16px;
	font-size: 16px;
	border: 1px solid;
	display: flex;
	flex-direction: row;
	align-items: center;
	padding: 4px;
	border-radius: 4px;
	margin-top: 5px;
}
#filename_structure .cursor{
	background: orange;
	width: 2px;
	height: 16px;
	display: block;
	animation: 0.7s cursor_anim infinite;
}
#filename_structure .space{
	width: 6px;
}
#fake_input{
	position: absolute;
	opacity: 0;
	height: 0;
	z-index: -1;
}
@keyframes cursor_anim{
	0%{
		opacity: 0;
	}
	50% {
		opacity: 1;
	}
	100% {
		opacity: 0;
	}
}
#filename_structure .select-area{
	display: flex;
	flex-direction: column;
	background: lightblue;
	padding: 0 6px;
	border-radius: 8px;
	z-index: 2;
}
.dark .select-area{
	color: #444;
}
#filename_structure .select-area.opened{
	align-self: flex-start;
	padding: 2px;
}
#filename_structure .select-area > *{
	transition: 0.2s;
	padding: 2px 6px;
	border-radius: 10px;
}
#filename_structure .select-area > .hover{
	background: #00C0FF;
	cursor: pointer;
}

#filename_structure_block table tr td:last-child{
	text-align: center;
}
