body{
	font-size: 14pt;
	white-space: nowrap;
	padding-right: 25px;
	padding-left: 25px;
	text-align: left;
}
h3{
	text-align: center;
	padding-right: 30px;
	padding-left: 30px;
}
.cursor{
	cursor: pointer;
}
label{
	margin-top: 5px;
	display: flex;
	align-items: center;
	flex-wrap: wrap;
	width: 100%;
}
label input[type="checkbox"]{
	transform: scale(0.9);
	margin-right: 5px !important;
}
.sub{
	font-size: 11pt;
	margin-left: 8px;
	transition: 0.2s;

}
.sub-disabled{
	filter: grayscale(1);
}
.sub input[type="checkbox"]{
	transform: scale(0.75);
	margin-left: 3px;
}
.sub::before{
	content: "";
	display: block;
	height: 8px;
	width: 15px;
	border: solid black;
	border-width: 0 0 3px 3px;
	margin-top: -8px;
}

#save {
	display: block;
	margin-left: auto;
	margin-right: auto;
	border: 5em;
	cursor: pointer;
	outline: none;
	font-size: 18px;
	transform: translate(0);
	background-image: linear-gradient(45deg, #4568dc, #b06ab3);
	padding: 0.7em 2em;
	border-radius: 65px;
	box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.5);
	transition: box-shadow 0.25s, font-size 0.3s ease-out;
	color: black;
}
#save:after {
	content: "";
	border-radius: 18px;
	position: absolute;
	margin: 4px;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	z-index: -1;
	background: white;
}
#save:hover {
	background-image: linear-gradient(-45deg, #4568dc, #b06ab3);
	box-shadow: 0 12px 24px rgba(128, 128, 128, 0.1) !important;
}
.disabled{
	font-size: 0px !important;
}
.other-links{
	display: flex;
	justify-content: space-between;
	align-items: center;
}
#href_text{
	color: blue;
	cursor: alias;
	vertical-align: top;
	font-size: 13pt;
	display:flex;
}
#href_text svg{
	transform: scale(0.95);
	margin-right: 6px;
}

.dark{
	background-color: #181818;
	color: white;
}
.dark svg{
	fill: white;
}
.dark #href_text{
	color: #00C0FF;
}
.dark #save{
	box-shadow: 1px 1px 10px rgba(255, 255, 255, 0.5);
	color: white;
}
.dark #save:after {
	background: #181818;
}
.dark .sub::before{
	border-color: white;
}
