#current_url{
	padding: 0.6rem;
	padding-right: 1.2em;
	font-size: 16px;
	font-family: monospace;
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 5px;
	position: relative;
}
#current_url img{
	height: 1em;
}
#current_url img[src=""] {
	display: none;
}

#websites_settings{
	height: 1.2em;
	position: absolute;
	right: 0;
	transition: 0.25s;
	cursor: pointer;
}
#websites_settings:hover{
	rotate: 60deg;
}
#websites_settings svg{
	height: 100%;
}

.popup{
	position: fixed;
	background: inherit;
	z-index: 4;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	transform: scale(0);
	transform-origin: center center;
	transition: 0.4s;
	padding: 1rem;
}
.popup.show{
	transform: scale(1);
}
.popup .close{
	color: red;
	font-weight: bold;
	position: absolute;
	right: 7px;
	top: 5px;
	cursor: pointer;
}


#websites_list{
	padding-top: 15px;
	padding-right: 12px;
	display: flex;
	flex-direction: column;
	gap: 3px;
	overflow-x: hidden;
	overflow-y: auto;
	height: 100%;
	box-sizing: border-box;
	scrollbar-width: thin;
}
#websites_list .site{
	display: flex;
	align-items: center;
	justify-content: space-between;
}
#websites_list .site a{
	text-overflow: ellipsis;
	overflow: hidden;
	color: inherit;
}
#websites_list .site .delete{
	height: 1em;
	cursor: pointer;
}
#websites_list .site .delete svg{
	height: 80%;
}

.button-43 {
	background: #37AEE2;
	border-radius: .5rem;
	box-sizing: border-box;
	color: #fff;
	display: flex;
	font-size: 14px;
	justify-content: center;
	padding: 0.5rem 1.25rem;
	text-decoration: none;
	border: 0;
	cursor: pointer;
	user-select: none;
	-webkit-user-select: none;
	margin: auto;
}
.button-43:hover {
	background: #1E96C8;
}
.button-43:active {
	background: #17759C;
}

#add_this.red{
	background: #EA2416;
}
#add_this.red:hover{
	background: #CE2519;
}
#add_this.red:active{
	background: #A00C0C;
}
